.wrapper {
  display: flex;
  justify-content: space-between;
  width: 48%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--darkGrey);
  margin-bottom: 1rem;
}

.name {
  vertical-align: super;
  font-size: 1.2rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 45%;
  text-align: right;
}

@media screen and (max-width: 600px) {
  .wrapper {
    width: 100%;
  }

  .actions {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
  }

  .actions > * {
    margin-bottom: 10px;
    margin-right: 0 !important;
  }
}
