:root {
  --blue: #007bff;
  --darkBlue: #026ee2;
  --grey: #6c757d;
  --darkGrey: #52595f;
  --red: #dc3545;
  --darkRed: #bb2d3b;
  --green: #28a745;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
